# Dependências
node_modules/

# Build de produção
dist/

# Logs
*.log
npm-debug.log*

# Arquivos de sistema
.DS_Store
Thumbs.db

# Editores
.vscode/*
!.vscode/extensions.json
.idea/

# Ambiente local
.env
.env.local
